.hidden { /* JD: 6 */
    display: none;
}

button {
    background-color: #8684d4; 
    font-size: 20pt;
    transition: all 0.5s;
    text-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
    color: white;
    margin: 0px 0px;
}

button:hover {
    background-color: #ab84d8;
    padding-left: 50px; /* JD: 7 */
}

.input-group {
    margin: 10px 0px;
}